name: Image Pipeline

on:
  workflow_dispatch:


env:
  STAGE_REPO: docker.io/devopscube/web-app-stage

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.STAGE_REPO }}
        tags: |
          type=sha
          type=raw,value=latest

    - name: Build and push to staging repo
      id: build
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}

    - name: Read digest
      id: d
      run: |
        echo "${{ steps.build.outputs.digest }}"

