name: Promote to Prod

on:
  workflow_dispatch:
    inputs:
      sourceDigest:
        description: "Digest to promote (e.g., sha256:abcd...)"
        required: true

env:
  STAGE_REPO: docker.io/devopscube/web-app-stage
  PROD_REPO: docker.io/devopscube/web-app-prod

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.PROD_REPO }}
        tags: |
          type=sha,format=short
          type=raw,value=latest

    - name: Install crane
      run: |
        go install github.com/google/go-containerregistry/cmd/crane@latest
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Promote to prod repo
      run: |
        digest="${{ github.event.inputs.sourceDigest }}"

        echo "${{ steps.meta.outputs.tags }}" | while read -r TAG; do
          echo "Promoting to: $TAG"
          crane copy "${{ env.STAGE_REPO }}@$digest" "$TAG"
        done

    - name: Install Cosign
      uses: sigstore/cosign-installer@v4.0.0


    - name: Sign prod images
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      run: |
        cosign sign --yes \
          --key env://COSIGN_PRIVATE_KEY \
          "${{ env.PROD_REPO }}@${{ github.event.inputs.sourceDigest }}"