name: Promote to Prod

on:
  workflow_dispatch:
    inputs:
      sourceDigest:
        description: "Digest to promote (e.g., sha256:abcd...)"
        required: true

env:
  STAGE_REPO: docker.io/devopscube/web-app-stage
  PROD_REPO: docker.io/devopscube/web-app-prod

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Install crane
      run: |
        go install github.com/google/go-containerregistry/cmd/crane@latest
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Promote to prod repo
      run: |
        crane copy "${{ env.STAGE_REPO }}@${{ github.event.inputs.sourceDigest }}" \
          "${{ env.PROD_REPO }}:1.0.${{ github.run_number }}"
        
        crane copy "${{ env.STAGE_REPO }}@${{ github.event.inputs.sourceDigest }}" \
          "${{ env.PROD_REPO }}:latest"

    - name: Install Cosign
      uses: sigstore/cosign-installer@v4.0.0

    - name: Sign prod tags (key-based)
      env:
        COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
        COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
      run: |
        cosign sign --yes \
          --key env://COSIGN_PRIVATE_KEY \
          "${{ env.PROD_REPO }}:latest"

        cosign sign --yes \
          --key env://COSIGN_PRIVATE_KEY \
          "${{ env.PROD_REPO }}:1.0.${{ github.run_number }}"